:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 108 91 173;
  --oui-color-primary-light: 152 128 208;
  --oui-color-primary-darken: 83 67 143;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 128 96 200;
  --oui-color-link-light: 173 142 228;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 84 135;
  --oui-color-danger-light: 250 144 194;
  --oui-color-danger-darken: 224 63 114;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 33 204 155;
  --oui-color-success-light: 87 228 182;
  --oui-color-success-darken: 15 164 126;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 184 62;
  --oui-color-warning-light: 255 216 124;
  --oui-color-warning-darken: 255 140 30;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 34 54;
  --oui-color-fill-active: 44 42 64;

  --oui-color-base-1: 78 66 114;
  --oui-color-base-2: 67 56 98;
  --oui-color-base-3: 56 47 82;
  --oui-color-base-4: 48 42 71;
  --oui-color-base-5: 42 37 62;
  --oui-color-base-6: 36 32 56;
  --oui-color-base-7: 54 46 80;
  --oui-color-base-8: 29 25 44;
  --oui-color-base-9: 23 20 35;
  --oui-color-base-10: 17 14 26;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 84 135;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 33 204 155;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 64 51 130;
  --oui-gradient-primary-end: 128 96 200;

  --oui-gradient-secondary-start: 79 61 137;
  --oui-gradient-secondary-end: 152 128 208;

  --oui-gradient-success-start: 15 143 118;
  --oui-gradient-success-end: 33 204 155;

  --oui-gradient-danger-start: 199 53 110;
  --oui-gradient-danger-end: 237 84 135;

  --oui-gradient-brand-start: 201 173 244;
  --oui-gradient-brand-end: 147 119 225;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 187 109 28;
  --oui-gradient-warning-end: 255 184 62;

  --oui-gradient-neutral-start: 30 28 38;
  --oui-gradient-neutral-end: 42 39 52;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}